/* cleaner light theme */

/* from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a:link {
    text-decoration: none;
}

* {
    font-size: 16pt;
    color: #000000;
    line-height: 1.85em;
    font-family: "Helvetica";
    background-color: #ffffff;
    border: none;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    text-align: center;
}

button {
    line-height: 1.85em;
    color: #000000;
    background-color: #ffffff;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
}

.projects { /* this creates a grid of 3 projects per row */
    padding: 1em;
    display: grid;
    gap: 0px 20px;
}

/* for adaptive number of projects per row */
@media (min-width: 0px) {
    .projects { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 900px) {
    .projects { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1800px) {
    .projects { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 3000px) {
    .projects { grid-template-columns: repeat(4, 1fr); }
}

.textblock { /* the main text */
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: none;
    line-height: 1.85em;
    font-family: "HeaderFont";
    background-color: rgba(255, 255, 255, 0.8);
}

.project_body { /* encapsulates the image and description for each project */
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    font-size: 16pt;
    line-height: 1.85em;
    font-family: "HeaderFont";
    background-color: rgba(255, 255, 255, 0.8);
}

.project_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1%;
}

.inline-icon {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 1em;
    gap: 20px;
}

.skills-list > li {
    list-style-type: none;
    text-align: center;
    flex: 0 1 auto;
}
