/* this is stolen from somewhere */

@font-face {
    font-family: "GageFont";
    src:
        url("../../assets/webfonts/MonaspaceNeon-Light.woff") format("woff");
        
    font-family: "HeaderFont";
    src:
        url("../../assets/webfonts/FiraCode-Light.woff") format("woff");
}

* {
    background: #06000f;
    color: #d8e2ff;
    font-size: 14pt;
    line-height: 1.85em;
    font-family: "HeaderFont";
}

body { /* this doesnt work yet */
    background-image: url("../../images/life3d.gif");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;
}

h1 {
    font-size: 2em;
    text-align: center;
    /* border: 3px solid #0040ff; */
}

h2 {
    font-size: 1em;
    text-align: center;
    /* border: 3px solid #0040ff; */
}

.projects { /* this creates a grid of 3 projects per row*/
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 20px;
}

.textblock { /* the main text */
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: 3px solid #000b2d;
    border-radius: 10px;
    font-size: 14pt;
    line-height: 1.85em;
    font-family: "HeaderFont";
}

.project_body { /* encapsulates the image and description for each project */
    margin: 0 auto;
    width: 90%;
    padding: 1em;
    border: 3px solid #000b2d;
    border-radius: 10px;
    font-size: 14pt;
    line-height: 1.85em;
    font-family: "HeaderFont";
}

.project_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inline-icon { /* for rust icon etc */
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.skills-list { /* this needs to be centered better */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 50%;
    margin: 0 auto;
}